  
.homePage {
    text-align: center;
    margin-top: 50px;
    margin-left: 190px;
}

.title {
    font-size: 80px;
    text-shadow: -2px 1px 2px orange;
    color: rgba(40, 41, 9, 0.664);
}



.backgroundimg {
    width: 100%;
    min-height:100vh;
    background-size: cover;     background-image: url("../../images/background.jpeg");
}